
<div class="main-panel">
	<div class="content-wrapper">
		<div class="container-scroller">
			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="table-responsive pt-3">
										<table class="table table-striped project-orders-table">
											<thead class="th-color">
												<tr>
													<th>Lieu</th>
													<th>Date</th>
													<th>Club</th>
													<th>Information</th>
												</tr>
											</thead>
											{# affichage des concours #}
											<tbody class="tb-color">
											{% for conc in concours %}
													<tr>
														<td>{{ conc.location }}</td>
														<td>{{ conc.dateD|date("d/m/Y") }}</td>
														<td>{{ conc.club }}</td>
														<td>
															<a href="{{ path('infoConc',{id: conc.id}) }}" type="button" class="btn btn-success btn-sm btn-icon-text mr-3" >
																info
																<i class="typcn typcn-edit btn-icon-append"></i>
															</a>
															{# affichage du btn classement= #}
															{% if conc.dateD|date("d/m/Y") == "now"|date("d/m/Y") %}
																<a type="button" class="btn btn-primary btn-sm btn-icon-text" >
																	Classement
																	<i class="typcn typcn-tick btn-icon-append"></i>
																</a>
															{% endif %}
														</td>
													</tr>
													
											{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>



<script>
	function rafraichirPage() {
	setTimeout(function() {
		location.reload();
	}, 3000); // rafraîchir la page après 3 secondes
	}

</script>