<!-- partial -->
		<nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">
			<div class="navbar-links-wrapper d-flex align-items-stretch">
				<div class="nav-link">
					<a href="javascript:;">
						<i class="typcn typcn-calendar-outline"></i>
					</a>
				</div>
				<div class="nav-link">
					<a href="javascript:;">
						<i class="typcn typcn-mail"></i>
					</a>
				</div>
				<div class="nav-link">
					<a href="javascript:;">
						<i class="typcn typcn-folder"></i>
					</a>
				</div>
				<div class="nav-link">
					<a href="javascript:;">
						<i class="typcn typcn-document-text"></i>
					</a>
				</div>
			</div>
		</nav>