<div class="main-panel">
	<div class="content-wrapper tabl-res">
		<div class="container-scroller">
			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
					<div class="content-wrapper">
						<div class="row">
							<div>
								<div class="card">
                                    <div class="table-responsive ">
                                        <table class="table th-color project-orders-table " border="1px" >
                                            <thead>
                                                <tr>
                                                    <th>Run / </br> Cible</th>
                                                    <th>Cible 1</th>
                                                    <th>Cible 2</th>
                                                    <th>Cible 3</th>
                                                    <th>Cible 4</th>
                                                    <th>Cible 5</th>
                                                    <th>Cible 6</th>
                                                    <th>Cible 7</th>
                                                    <th>Cible 8</th>
                                                    <th>Cible 9</th>
                                                    <th>Cible 10</th>
                                                    <th>Total </br> points</th>
                                                    <th> Total </br>run</th>
                                                    <th> Total </br>cumulé</th>
                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr>
                                                    <th colspan="14" class="table">Run au trot (sans chrono)</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td><input type="text" step="1" class="table" name="cible1_r1"></td>
                                                    <td><input type="text" step="1" class="table" name="cible2_r1"></td>
                                                    <td><input type="text" step="1" class="table" name="cible3_r1"></td>
                                                    <td><input type="text" step="1" class="table" name="cible4_r1"></td>
                                                    <td><input type="text" step="1" class="table" name="cible5_r1"></td>
                                                    <td><input type="text" step="1" class="table" name="cible6_r1"></td>
                                                    <td><input type="text" step="1" class="table" name="cible7_r1"></td>
                                                    <td><input type="text" step="1" class="table" name="cible8_r1"></td>
                                                    <td><input type="text" step="1" class="table" name="cible9_r1"></td>
                                                    <td><input type="text" step="1" class="table" name="cible10_r1"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                            <thead>
                                                <tr>
                                                    <th colspan="14" class="table">Run au galop (sans chrono)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2</td>
                                                    <td><input type="text" step="1" class="table" name="cible1_r2"></td>
                                                    <td><input type="text" step="1" class="table" name="cible2_r2"></td>
                                                    <td><input type="text" step="1" class="table" name="cible3_r2"></td>
                                                    <td><input type="text" step="1" class="table" name="cible4_r2"></td>
                                                    <td><input type="text" step="1" class="table" name="cible5_r2"></td>
                                                    <td><input type="text" step="1" class="table" name="cible6_r2"></td>
                                                    <td><input type="text" step="1" class="table" name="cible7_r2"></td>
                                                    <td><input type="text" step="1" class="table" name="cible8_r2"></td>
                                                    <td><input type="text" step="1" class="table" name="cible9_r2"></td>
                                                    <td><input type="text" step="1" class="table" name="cible10_r2"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td id="total"></td>
                                                </tr>
                                            </tbody>
                                        </table>										
                                    </div>
                                </div>										
                            </div>
                        </div>										
                    </div>
                </div>					
            </div>
        </div>						
    </div>
</div>
<script>
    document.getElementById("total").style.backgroundColor = "#fffbb0";
    $("#tableau_cetower td input[type=text]").on('change', (elem) => {
        let parent = $(elem.target).parent().parent();
        let fields = ['cibleav', 'ciblelat', 'ciblear'];

        let sum = 0;
        fields.forEach(field => {
            parent.find(`[${field}]`).val().split(' ').forEach(num => {
                if (num == '') return;
                sum += parseInt(num);
            });
        });


        // let sum = parseInt(parent.find('[cibleav]').val() || 0)+parseInt(parent.find('[ciblelat]').val() || 0)+parseInt(parent.find('[ciblear]').val() || 0);
        parent.find('[points]').val(sum);
    });
</script>
